*.o
\#*\#
*.d
GPATH
GRTAGS
GTAGS
.clang_complete
*.so
initramfs.cpio
*.deb
test/samplePrograms/2writers1reader
test/samplePrograms/catTestFile
test/samplePrograms/creat
test/samplePrograms/deadlockingPipe
test/samplePrograms/fchownat
test/samplePrograms/forkAndPipe
test/samplePrograms/getCpu
test/samplePrograms/getdents
test/samplePrograms/getdents64
test/samplePrograms/grepTestFile
test/samplePrograms/helloWorld
test/samplePrograms/lessTestFile
test/samplePrograms/moreTestFile
test/samplePrograms/mtimeTest
test/samplePrograms/multiwrite
test/samplePrograms/open
test/samplePrograms/openat
test/samplePrograms/pipe-cWpR
test/samplePrograms/pipe-cWpcR
test/samplePrograms/pipe-pWcR
test/samplePrograms/pipe-pWpcR
test/samplePrograms/pipe-pcWpR
test/samplePrograms/pipe-pcWpcR
test/samplePrograms/shTestFile
test/samplePrograms/waitOnChild
test/samplePrograms/multipleThreads
test/samplePrograms/simpleThreads
.git
src/dettrace
.git/
./benchmarking
Dockerfile
.gitignore
*.deb
*.tbz
bin/
*.tbz
