*.bin
ActualOutputs/
file.fuse
thisKey.pub

# Executables
2writers1reader
catTestFile
creat
deadlockingPipe
fchownat
forkAndPipe
getCpu
getdents
getdents64
grepTestFile
helloWorld
lessTestFile
moreTestFile
mtimeTest
multiwrite
open
openat
partialfs
pipe-cWpR
pipe-cWpcR
pipe-pWcR
pipe-pWpcR
pipe-pcWpR
pipe-pcWpcR
shTestFile
thisKey
waitOnChild
multipleThreads
simpleThreads
